#contact-app{
	overflow: auto;
}

.header{
	background-color: #5D5C61;
	color: #FFFFFF;
	font-family: Verdana, sans-serif;
	padding-left: 20px;
	padding-top: 5px;	
}


#contact-list-container,#contact-details-container,#contact-form-container{
	float:left;
	font-family: Verdana, sans-serif;
	color: white;
	background-color: #557A95;
	border: 1px solid #7395AE;
	margin:20px;
	padding:20px;
}

h2{
	color: #c9ba99;
}

#lblContactName{
	color: #FFFFFF;
}

#contact-list-container{
	width:200px;
}

#contact-details-container{
	width:250px;
}

#contact-form-container{
	width:500px;
}

#contact-form label{
	display: inline-block;
	width:100px;
	text-align: right;
}

.validation{
	color:red;
}
html,body{margin: 0; padding: 0;}

h1{
	position: static;
	height: 50px;
	margin: 0;
	padding: 0;
}

#contact-list-container,#contact-details-container,#contact-form-container{
	width: 100%;
	position: absolute;
	top: 50px;
	bottom: 0px;
	margin: 0;
	opacity: 0;
	/*transition: opacity 1s;*/
}

/* For when we make the app 'reponsive'... */
@media screen and (max-width: 800px) {
        
        
}


