#contact-app{
	overflow: auto;
}

#contact-list-container,#contact-details-container,#contact-form-container{
	float:left;
	background-color: lightgray;
	border: 1px solid black;
	margin:20px;
	padding:20px;
}

#contact-list-container{
	width:200px;
}

#contact-details-container{
	width:250px;
}

#contact-form-container{
	width:500px;
}

#contact-form label{
	display: inline-block;
	width:100px;
	text-align: right;
}

.validation{
	color:red;
}
html,body{margin: 0; padding: 0;}

h1{
	position: static;
	height: 50px;
	margin: 0;
	padding: 0;
}

#contact-list-container,#contact-details-container,#contact-form-container{
	width: 100%;
	position: absolute;
	top: 50px;
	bottom: 0px;
	margin: 0;
	opacity: 0;
	/*transition: opacity 1s;*/
}

/*
#lblContactId{
	display: none;
}

#txtId{
	display:none;
}

#contact-form-container > #contact-form > label > #frmIdLabel{
	display:none;
}
*/
/* For when we make the app 'reponsive'... */
@media screen and (max-width: 800px) {
        
        
}


